* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-aspect-ratio: 1.5/1) {
    body #choosing button {
        margin-inline: 0.5em;
    }
}

html, body {
    height: 100%;
}

body {
    background-color: pink;
}

header h1 {
    background-color: black;
    text-align: center;
    color: white;
    padding: 0.5em 0;
}

#choosing {
    padding-top: 5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#choosing button {
    margin-inline: 2em;
    margin-top: 0.25em;
    border-radius: 8px;
    padding: 0.25em;
}

#clicker-container {
    display: grid;
    place-items: center;
 
}

#clicked {
    margin: 0.5em 0;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 1em;
}

#restart {
    display: none;
    margin-top: 0.25em;
    padding: 0.25em;
    border-radius: 8px;
}